.form__input{
  display: block;
  width: 100%;
  margin-bottom: 2em;
  border: none;
  outline: none;
  border-bottom: 5px solid $h1-color;
  padding: 5px;
  &::placeholder{
    font-size: 0.7em;
    font-weight: 700;
  }
}

.form__label--hidden{
  display: none;
}

.form{
  margin-top: 7em;
  @include desktop{
    margin: 0;
  }
}
